*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


/* ***** NAV BAR *****/

.box-bar{
 
    height: 8vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}



 /* BAR LEFT  */

.bar-left{
    width: calc(100vw - 70%);
   
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.logo{
   height: 3vh;
}
    
    
/* BAR RIGTH  */
.bar-rigth{
    width: calc(100vw - 75%);

    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button-start{
    padding: 1.5% 3%;
    background-color: blue;
    color: white;
    border: none;
}


   /**** MAIN BODY  ****/

   /* PRESENTATION */
.presentation{
    height: 65vh;
    width: 100vw;
    background-color: #b4d0e7;
    display: flex;
    justify-content: center;
    position: relative;
}


.box-section1{

    width: calc(100vw - 40%);
    height: 100%;
    padding-top: 3%;
    display: flex;
    flex-wrap: wrap;
}

h1{
    font-size: 391%;
    height: 20%;
    margin-bottom: 7%;
   
}
   

.description{
    width: 35%;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   
  
    
}
.free{
    background-color: blue;
    color: white;
    width: 60%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow{
    font-size: 250%;
}
.jumbo{
    width: 42%;
    position: absolute;
    bottom: 0;
    top: 41%;
    left: 39.2%;

   
    
}

 
